body {
    width: 800px;
    margin:auto;
}

#CAN_dataviz, #US_dataviz{
    text-align:center;
    font-family: helvetica;
    font-size: 14px;
}

.xAxis, .yAxis, .USxAxis, .USyAxis {
    font-size: 0.66em;
    color: white;
}

.xAxisLabel, .yAxisLabel, .USxAxisLabel, .USyAxisLabel {
    font-family:helvetica;
    font-size:0.85em;
    font-weight:bold;
    fill:white;
}

.chartTitle, .USchartTitle {
    font-family: helvetica;
    font-size:12px;
    font-weight:bold;
    fill: white;
}

div.tooltip, div.UStooltip {	
    position: absolute;			
    text-align: left;			
    width: 115px;					
    /*height: 50px;*/					
    padding: 2px 2px 2px 3px;				
    font: 12px helvetica;		
    background: rgb(243, 248, 255);	
    border: 1px solid gray;		
    border-radius: 4px;			
    pointer-events: none;			
}

/* Table Styling */
table {
    border-collapse: collapse;
    margin:auto;
    font-size:0.8em;
    max-width:90%;
}

/* conditional for screen size minimum of 700px */
@media (min-width:700px) {
/* your conditional / responsive CSS inside this condition */

    #CAN_dataviz, #US_dataviz{
        font-size: 14px;
    }

    .xAxis, .yAxis, .USxAxis, .USyAxis {
        font-size: 0.85em;
    }

    .xAxisLabel, .yAxisLabel, .USxAxisLabel, .USyAxisLabel {
        font-size:1.05em;
    }

    .chartTitle, .USchartTitle {
        font-size:19px;
    }

    div.tooltip, div.UStooltip {					
        font-size: 12px;			
    }

    table {
        font-size:1em;
        max-width:90%;
        width:700px;
    }

}

#chartSpace, #USChartSpace {
    border: 1px solid gray;
    background-color: rgb(4, 0, 39);
    /*background-color: rgb(250, 255, 253);*/
    margin: 8px;
}

.dot {
    shape-rendering: geometricPrecision;
    /*    fill: #79d6c1;*/
    /*    fill: #40c5a6;*/
    stroke: white;
    stroke-width: 1.5;
}

.USdot{
    shape-rendering: geometricPrecision;
    stroke: white;
    stroke-width: 1.5;
}


/*styling for grid lines*/
.xGrid line, .yGrid line, .USxGrid line, .USyGrid line {
    stroke: rgb(92, 92, 92);
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    fill:white;
}
  
.xGrid path, .yGrid path, .USxGrid path, .USyGrid path {
    stroke-width: 0;
}


/*Style for crosshair lines -- bisect on x/y axis when hovering*/

.crosshairLine {
    stroke: rgb(168, 168, 168);
    /*stroke: rgb(204, 24, 135);*/
    /*stroke: rgb(168, 24, 113);*/
    stroke-width: 2px;
    stroke-dasharray: 2;
    pointer-events: none;			
}

.UScrosshairLine {
    stroke: rgb(168, 168, 168);
    /*stroke: #79d6c1;*/
    /*stroke: rgb(168, 24, 113);*/
    stroke-width: 2px;
    stroke-dasharray: 2;
    pointer-events: none;	
}


.regression, .USregression {
    stroke-width: 2px;
    stroke: white;
    /*stroke: rgb(32, 24, 148);*/
    stroke-dasharray: 4;
    pointer-events: none;
}

.legendLabel {
    fill: white;
}

.legendBox {
    fill:  white;
    opacity: 0.25;
    stroke-width: 1px;
    stroke: rgb(165, 165, 165);
}

.equationWrapper, .USequationWrapper {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    fill:white;
    stroke: rgb(168, 24, 113);
    stroke-width: 2px;
    width:130px;
    height:100px;
}

.equation, .USequation {
    font-size:0.88em;
    fill: white;
    width:130px;
    height:100px;
    /*font-style:italic;*/
}

.dataLabel {
    fill: rgb(4, 0, 39);
    opacity: 0.8;
    font-size: 12px;
    font-style: italic;
    pointer-events: none;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
}

.USdataLabel {
    fill: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 12px;
    font-style: italic;
    pointer-events: none;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
    /*
    stroke: rgb(4, 0, 39);
    stroke-width: 0.2px;
    */
}

.trendlineLabel{
    font-size:0.88em;
    fill: white;
}


th {
    border: 1px solid rgb(126, 126, 126);
    padding: 5px;
    text-align: center;
    vertical-align:middle;
	border-collapse: collapse;
    /*background-color: rgb(240, 240, 240);*/
    background-color: rgb(199, 194, 247);
    color: rgb(4, 0, 39);
}

.textColour1{
    color: rgb(4, 0, 39);
    /*color: #148fae;*/
    font-size:1.1em;
}

.textColour2{
    color: rgb(4, 0, 39);
    /*color: #FF5733;*/
    font-size:1.1em;
}

.textColour3{
    color: rgb(4, 0, 39);
    /*color: #FF5733;*/
    font-size:1.1em;
}

td {
    border: 1px solid rgb(126, 126, 126);
    padding: 8px 5px 8px 5px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-collapse: collapse;  
}


/* Styling for html drop down select menu */
.selectMenu {
	font-weight: bold;
	padding: 4px 8px 4px 8px;
	border-radius: 4px;
    margin-bottom: 3px;
    display:block;
    text-align:center;
    font-size: 16px; /*needs to be at least 16px to avoid zoom on mobile*/
    margin:auto;
    width:90%;	
}

.filterRegionInput, .USFilterRegionInput{
    border:2px solid rgb(4, 0, 39);
    background-color:rgb(253, 253, 255);
}

.apartmentSizeInput, .USApartmentSizeInput{
    border:2px solid rgb(4, 0, 39);
    background-color:rgb(253, 253, 255);
}

.USPopulationSizeInput{
    border:2px solid rgb(4, 0, 39);
    background-color:rgb(253, 253, 255);
}

.filterRegionInput:focus, .USFilterRegionInput:focus {
    border:2px solid rgb(4, 0, 39);
    background-color:rgb(253, 253, 255);
    outline: none;
}

.apartmentSizeInput:focus, .USApartmentSizeInput:focus {
    border:2px solid rgb(4, 0, 39);
    background-color:rgb(253, 253, 255);
    outline: none;
}

.dataTableWrapper{
    margin-top:30px;
    height:60vh;
    max-height:600px;
    overflow:auto;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.dataTable{
    color: rgb(4, 0, 39);
    width:700px;
}

.dataTable th{
    background-color: rgb(4, 0, 39);
    color: white;
}

.dataTable td {
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    border-left: none;
    border-right: none;
}

.leftAlignCell{
    text-align: left;
}

.rightAlignCell{
    text-align: right;
}

.noPointerEvents {
    pointer-events: none;
}